body{
    background-color:blanchedalmond;
}

body, table, input, select {
    font: 18pt Calibri;
}


td{
   padding:10px;
}

#headerTb{
    width:100%;
    height : 100px;
}

#headerBtn{
    text-align:right;
   
}
